<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.BuildingMapper">

    <select id="pageQuery" resultType="com.sky.entity.Building">
        select * from building
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="person != null and person != ''">
                and person like concat('%', #{person}, '%')
            </if>
        </where>
        order by id desc
    </select>

    <delete id="deleteByIds">
            delete from building where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>

</mapper>
